.autocomplete {
  position: absolute;
  bottom: 2em;
  width: 100%;
  background-color: #999
}

.autocomplete ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.autocomplete ul li {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
