.input {
  z-index: 2;

  & input {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    width: 100%;
  }
}
